@charset "UTF-8";

/* Tipo de dispositivo Largura mínima recomendada:
Extra pequeno (telefone em pé) / 0px – 479px
Pequeno (telefone grande) / 480px – 767px
Médio (tablet retrato) 768px – 991px
Grande (tablet paisagem / desktop pequeno) 992px – 1199px
Extra grande (desktop padrão) / 1200px – 1399px
Ultra grande (monitores 2K ou mais) / 1400px+ */

@media all {
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
    }

    body {
        height: 100%;
        width: 100%;
        background: var(--cor-login) linear-gradient(to left, var(--cor-gradient1), var(--cor-gradient2));
    }

    :root {
        --cor-login: #ffff;
        --cor-gradient1: #e0e0e0;
        --cor-gradient2: #9e9e9e;
        --btn-text: #7f8c8d;
        --btn-hover: #aebebf;
        --cor-destaque: #27ae60;
    }

    main {
        width: 100%;
        height: 99vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #login {
        background-color: white;
        width: 60%;
        height: 96%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.360);
        overflow: hidden;
        border-radius: 15px;
        transition: width .3s, height .3s;
        transition-timing-function: ease;
    }

    #formulario {
        background-color: transparent;
        width: 60%;
        text-align: center;
        padding: 10px;
        float: right;
        display: flex;
        flex-flow: column wrap;
        flex: 0 1 auto;
        justify-content: center;
        align-items: center;
    }

    form {
        width: 90%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .campo {
        background-color: var(--cor-destaque);
        padding: 3px;
        margin: 3px 0px;
        text-align: left;
        border-radius: 10px;
        border: none;
        display: flex;
        flex-flow: row nowrap;
        flex: auto;
        width: 435px;
        height: 50px;
    }

    input {
        width: 400px;
        height: 44px;
        border: none;
    }

    #remember {
        height: 19px;
        width: 19px;
    }

    .botao {
        background-color: var(--btn-text);
        border-radius: 16px;
        color: var(--cor-login);
        padding: 10px;
        width: 435px;
        display: block;
        margin: 15px;
        border: 1px solid rgba(0, 0, 0, 0.360);
    }

    .botao:hover {
        background-color: var(--btn-hover);
        transition-duration: .3s;
        cursor: pointer;
    }

    a {
        color: var(--cor-login);
        text-decoration: none;
        font-size: 16px;
    }

    #github {
        color: var(--btn-text);
    }

    footer {
        background-color: var(--cor-login);
        padding: 10px;
        border-radius: 12px;
        margin: auto;
        width: 42%;
    }
}