body {
    background-image: url('wallpaper002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 100vh;
}

main {
    background-image: url('pattern001.png');
    height: 400px;
    width: 500px;
    margin: auto;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.345);
    border-radius: 14px;
    color: white;
    min-width: 300px;
    max-width: 100px;
}
