@charset "UTF-8";
@media screen and (max-width: 768px) {
body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
}

header {
    padding: 0;
    height: 28vh;
}

#menu {
        display: block;
        position: relative;
        top: 55%;
        left: -32%;
}

main {
        width: 80%;
        margin: auto;
}
nav {
        display: none; 
        flex-direction: column;
        width: 100%; 
}
    
 nav a {
        width: 100%; 
        margin: 5px 0; 
        border-radius: 10px;
}


}