header {
    background-color: #ffff;
    padding: 14px;
    margin: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
main {
    background-color: #ffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    margin: auto;
    max-width: 100%;
    min-width: 300px;
}
:root {
    --cor1: #ffff;
    --cor2: #9FC131;
    --cor3: #DBF227;
}
section {
    background-color: #ffff;
    padding: 14px;
    border-radius: 13px;
    margin: auto;
    border-radius: 10px;
}
article {
    background-color: #ffff;
    padding: 14px;
    border-radius: 13px;
    margin: auto;
    border-radius: 9px;
}
footer {
    background-color: #ffff;
    padding: 14px;
    margin: auto;
    text-decoration: underline;
}
h1 {
    font-weight: 100;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
    padding: 4px;
    margin: 100px;
}
h2 {
    padding: 12px;
    margin: auto;
    font: italic, bold, 8px,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
    background-color: #ffff;
    border-radius: 11px;
    text-align: center;
}

body {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    height: max-content;
    font: italic, bold, 8px,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
    ;
}
nav {
   background-color: #ffff;
   padding: 9px;
   margin: auto;
   border-top-right-radius: 0px;
   border-top-left-radius: 0px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}
nav > a {
    text-decoration: none;
    color: black;
    padding: 3px;
    text-align: center;
}
nav > a:hover {
    background-color: rgb(66, 200, 164);
    transition-duration: 1s;
}
div {
    color: hsl(0, 0%, 0%);
    background-color: #ffff;
    border: 5px inset black;
    display: inline-flex;
    padding: 150px;
    width: 150px;
    min-width: 300px;
    max-width: 800px;
}
#video {
    background-color: var(--cor2);
    padding: 20px 20px 400px 20px;
    position: relative;
    top: 15px;
    left: 25px;
    width: 90%;
    height: 10px;
    border: none;
}
#video > iframe {
    position: relative;
    top: 10px;
    left: 20px;
    width: 90%;
}
#videointer {
    background-color: var(--cor2);
    padding: 30px 30px 200px 30px;
    position: relative;
    top: 20px;
    left: 30px;
    width: 500px;
    height: 300px;
    border: none;
}
div :hover {
    transition-duration: 1s;
}
div > p {
    display: none;
}
div:hover > p {
    display:block;
    color: rgb(232, 181, 80);
    font-size: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#especial2{
    color: rgb(160, 200, 100);
    background-color: rgb(29, 63, 232);
    border: 5px inset black;
    min-width: 300px;
    max-width: 800px;
}
#especial2:hover {
    color: red;
    background-color: #FAE900;
    font: normal, bolder, 30px, 'Franklin Gothic Medium', 'sans serif';
    transition-duration: 1s;
}
#especial1 {
    color: rgba(100, 200, 80, 0.815);
    background-color: #a1dc2a;
    font: 400, 20px, 'sans serif';
    min-width: 300px;
    max-width: 800px;
}
#especial1:hover {
    color: rgb(150, 80, 200);
    background-color: rgb(232, 181, 80);
    font: 500, 40px, 'sans serif';
    transition-duration: 1s;
}
#especial3 {
    color: hsl(80%, 30%, 100%);
    background-color: #d1c40c;
    font: 400, 20px, 'sans serif';
    min-width: 300px;
    max-width: 800px;
}
#especial3:hover {
    color: #95ff00;
    background-color: #556144;
    font: 600, 45px, 'sans serif';
    transition-duration: 1s;
}
aside {
    background-color: #ffff;
    font: 500, 10px, 'sans serif';
    margin: auto;
    padding: 10px, 10px;
}
.redondo {
    border-radius: 0px;
}