@charset "UTF-8";

body {
    background-image: url('../imagens/cev-portrait.jpg');
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}