@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    color: white;
}

h1 {
    color: white;
    text-shadow: 2px 3px 4px #202280;
    text-align: center;
}