body {
    background-image: url('imagens-cap19/wallpaper001.jpg');
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, rgb(123, 183, 32), rgb(101, 224, 101));
    padding: 28px 30px;
    margin-top: 0px;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h1 {
    font: italic bold 30px sans-serif;
    text-shadow:rgba(0, 0, 0, 0.406) 2px 1px 4px;
    color: #ffff;
}

#cabecalho{
    margin: 0%;
    width: 300px;
    height: 100%;
    display: block;
    border-radius: 10px;
}

.quadrado{
    border: 3px solid rgb(0, 0, 0);
    padding: 100px;
    width: 100px;
    height: 100px;
    margin: auto;
    display: inline-block;
    border-radius: 12px;
    background-color: rgba(60, 100, 200, 0.654)
}

#q1 {
    background-color: rgb(45, 45, 162);
    padding: 100px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    display: block;
}

#q2 {
    background-image: linear-gradient(to bottom, green, greenyellow);
    padding: 100px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    display: block;
}

#q3 {
    background-image: url('imagens-cap19/pattern003.png');
    padding: 100px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    display: block;
}

#teste {
    border: 3px solid rgb(0, 0, 0);
    padding: 100px;
    width: 400px;
    height: 200px;
    margin: auto;
    display: block;
    border-radius: 12px;
    background-image: url('imagens-cap19/wallpaper002.jpg');
}