@charset "UTF-8";
/* estilo para impressoras */
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

menu {
    display: none;
}

html {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(108, 108, 108);
}

article::after {
    content: 'Este material foi disponibilizado por Pedro Henrique';
    font-family: Arial, Helvetica, sans-serif;
}

 