@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

div {
    text-align: center;
}

.container-flex {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template: repeat(6, minmax(100px, 1fr)) / repeat(7, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    gap: 10px;
}

.top {
    background-color: aqua;
    grid-area: 1 / 1 / 2 / 8; 
}

.menu {
    background-color: lightgreen;
    grid-area: 2 / 1 / 3 / 8;
}

.main {
    background-color: lightgrey;
    grid-area: 3 / 1 / 6 / 6;
}

.second {
    background-color: blue;
    grid-row: 3 / 6;
    grid-column: 6 / 8;
}

.foot {
    background-color: green;
    grid-area: 6 / 1 / 7 / 8;
}