@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: rgb(118, 181, 23);
    height: 300px;
}

table {
    width: 600px;
    background-color: white;
    margin: auto;
    border-collapse: collapse;
    border: 3px solid rgba(0, 0, 0, 0.4);
    position: relative;
}

caption {
    background-color: lightslategrey;
    padding: 3px;
    border: 3px solid rgba(0, 0, 0, 0.7);
    font-size: larger;
    font-weight: bolder;
}

table thead tr th {
    position: sticky;
    top: 0;
    z-index: 1;
}

table tr:nth-child(even) {
    background-color: rgb(79, 79, 79);
    color: white;
}

th {
    background-color: lightgrey;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: transparent;
}

.number {
    text-align: right;
    width: 60px;
}

#foot {
    text-align: center;
    font-weight: bold;
}

.populacao {
    background-color: greenyellow;
    font-size: large;
}